html, body {
  background: transparent;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

img {
  max-width: 100%;
  height: auto; }

* {
  outline: none;
  box-sizing: border-box; }

a:link {
  text-decoration: none; }

*:focus {
  background: transparent !important; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif; }

h1 {
  font-size: 32px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 16px; }

h4 {
  font-size: 14px; }

h5 {
  font-size: 12px; }

h6 {
  font-size: 12px; }

p {
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.7; }

a, button, button span, .apla, .sidebar-category-tags li {
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in; }

ul, ol {
  padding: 0;
  margin: 0; }
  ul li, ol li {
    list-style-position: inside; }

.btn-blue {
  background: #114975;
  text-transform: uppercase;
  color: #fff;
  border-radius: 0;
  border: none;
  padding: 10px 25px;
  border: 1px solid transparent; }
  .btn-blue:hover {
    border: 1px solid #114975;
    background: transparent;
    color: #114975; }

.top {
  width: 100%;
  display: block;
  padding: 30px 0; }
  .top .brand img {
    max-width: 100%;
    height: auto; }
  .top nav {
    padding: 5px 0; }
    .top nav ul li {
      display: inline-block;
      list-style: none;
      margin: 0 13px; }
      .top nav ul li > a {
        color: #7a7979;
        font-size: 14px; }
      .top nav ul li:last-child {
        margin: 0 0; }

.navbar {
  background: #114975;
  border-radius: 0;
  -webkit-box-shadow: inset 2px 11px 5px -4px #183f5d;
  -moz-box-shadow: inset 2px 11px 5px -4px #183f5d;
  box-shadow: inset 2px 11px 5px -4px #183f5d; }
  .navbar .navbar-collapse {
    padding-left: 0;
    padding-right: 0; }
  .navbar .nav {
    width: 100%; }
    .navbar .nav > li {
      width: 20%;
      text-align: center;
      border-right: 1px solid #a0b6c8;
      border-top: 2px solid #063051; }
      .navbar .nav > li > a {
        text-transform: uppercase;
        text-shadow: none;
        color: #fff;
        font-size: 14px; }
        .navbar .nav > li > a:hover {
          background: #1b5e92;
          color: #fff; }
      .navbar .nav > li:last-child {
        border-right: 0; }
    .navbar .nav .active a {
      background: #1b5e92;
      color: #fff; }
      .navbar .nav .active a:hover {
        background: #1b5e92;
        color: #fff; }
      .navbar .nav .active a:focus {
        color: #fff;
        background: #1b5e92 !important; }
    .navbar .nav .dropdown-menu {
      background: #1b5e92;
      border-top: 0;
      border-radius: 0; }

.nav > li.dropdown.open {
  position: static;
  background: #1b5e92;
  color: #fff; }
  .nav > li.dropdown.open a {
    color: #fff !important;
    text-transform: uppercase;
    white-space: initial; }

.nav > li.dropdown.open .dropdown-menu {
  display: table;
  width: 100%;
  text-align: center;
  left: 0;
  right: 0; }

.dropdown-menu > li {
  display: table-cell;
  padding: 10px 0; }
  .dropdown-menu > li a:hover {
    background: transparent; }
  .dropdown-menu > li a:focus {
    background-color: transparent; }
  .dropdown-menu > li i {
    display: inline-block;
    width: 100%;
    height: 45px;
    margin: 0 auto;
    background-position: 50% !important; }
  .dropdown-menu > li:first-child i {
    background: url("../img/menu-ico/i1.png") no-repeat; }
  .dropdown-menu > li:nth-child(2) i {
    background: url("../img/menu-ico/i2.png") no-repeat; }
  .dropdown-menu > li:nth-child(3) i {
    background: url("../img/menu-ico/i3.png") no-repeat; }
  .dropdown-menu > li:nth-child(4) i {
    background: url("../img/menu-ico/i4.png") no-repeat; }
  .dropdown-menu > li:nth-child(5) i {
    background: url("../img/menu-ico/i5.png") no-repeat; }
  .dropdown-menu > li:nth-child(5) i {
    background: url("../img/menu-ico/i5.png") no-repeat; }
  .dropdown-menu > li:nth-child(6) i {
    background: url("../img/menu-ico/i6.png") no-repeat; }
  .dropdown-menu > li:nth-child(7) i {
    background: url("../img/menu-ico/i7.png") no-repeat; }

.filtr {
  padding: 25px;
  background: #114975; }
  .filtr .cost {
    width: 100%;
    max-width: 310px;
    display: inline-block;
    float: left;
    padding: 0 15px; }
  .filtr .day {
    width: 100%;
    max-width: 310px;
    display: inline-block;
    float: left;
    padding: 0 15px; }
  .filtr .for-free {
    width: 100%;
    max-width: 160px;
    padding: 0 15px;
    display: inline-block;
    float: left; }
  .filtr p {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    padding: 10px 0;
    margin: 0; }
    .filtr p span {
      display: inline-block;
      float: right;
      text-align: right;
      padding-right: 10px;
      max-width: 50%; }
      .filtr p span > input {
        background: transparent;
        max-width: 40%;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 1px solid #fff;
        margin-right: 5px;
        position: relative;
        top: -6px;
        text-align: center; }
  .filtr .slider-slide {
    padding: 25px 0; }
  .filtr #slider, .filtr #slider2 {
    background: url("../img/slider-bg.png");
    background-position: center left; }
    .filtr #slider > div, .filtr #slider2 > div {
      background: #fff; }
    .filtr #slider span, .filtr #slider2 span {
      border: none;
      background: #16a085 !important;
      width: 38px;
      cursor: pointer; }
      .filtr #slider span:before, .filtr #slider2 span:before {
        content: "";
        width: 1px;
        height: 8px;
        position: absolute;
        left: 48%;
        top: 5px;
        background: #fff; }
      .filtr #slider span:after, .filtr #slider2 span:after {
        content: "";
        width: 1px;
        height: 8px;
        position: absolute;
        right: 42%;
        top: 5px;
        background: #fff; }
      .filtr #slider span:focus, .filtr #slider2 span:focus {
        background: #16a085; }

aside h3 {
  color: #114975;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0; }
aside .item {
  background: #f5f5f5;
  text-align: center;
  float: left;
  padding: 30px 0;
  margin: 5px 0;
  width: 100%; }
  aside .item .thumb-box {
    width: 100%;
    height: 54px;
    display: table; }
    aside .item .thumb-box .thumb {
      display: table-cell;
      vertical-align: middle; }
  aside .item h4 {
    font-size: 14px;
    color: #e74c3c;
    margin: 0 0;
    padding: 0 0;
    text-transform: uppercase; }
  aside .item p, aside .item span {
    color: #7a7979;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 14px; }
aside .box-search {
  background: #f5f5f5;
  padding: 38px;
  margin-top: 9px; }
aside .sidebar-category-tags {
  width: 100%;
  height: auto; }
  aside .sidebar-category-tags li {
    list-style: none;
    display: inline-block;
    margin: 3px 3px;
    background: #f2f3f4;
    color: #114975;
    padding: 5px 10px; }
    aside .sidebar-category-tags li:hover {
      background: #16a085; }
      aside .sidebar-category-tags li:hover a {
        color: #fff; }

.sidebar-blog h3 {
  text-align: left; }

.checkbox {
  margin-top: 20px; }

.checkbox label:after {
  content: '';
  display: table;
  clear: both; }

.checkbox label {
  color: #16a085;
  padding-left: 0; }
  .checkbox label p {
    display: inline-block;
    float: left;
    font-size: 12px;
    padding: 0; }

.checkbox .cr {
  position: relative;
  display: inline-block;
  background: #fff;
  border: none;
  border-radius: 0;
  width: 1.3em;
  height: 1.3em;
  float: left;
  margin-right: .5em; }

.checkbox .cr .cr-icon {
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 50%;
  left: 20%; }

.radio .cr .cr-icon {
  margin-left: 0.04em; }

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
  display: none; }

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
  transform: scale(3) rotateZ(-20deg);
  opacity: 0;
  transition: all .3s ease-in; }

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
  transform: scale(1) rotateZ(0deg);
  opacity: 1; }

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
  opacity: .5; }

.product {
  padding: 25px 10px;
  background: #f5f5f5;
  margin-top: 25px;
  float: left;
  position: relative; }
  .product .thumb-box {
    display: table;
    height: 150px;
    width: 100%; }
    .product .thumb-box .thumb {
      display: table-cell;
      vertical-align: middle;
      width: 100%;
      text-align: center; }
      .product .thumb-box .thumb img {
        text-align: center; }
  .product .button-box {
    display: table;
    height: 150px;
    width: 100%; }
    .product .button-box .buttons {
      display: table-cell;
      vertical-align: middle; }
      .product .button-box .buttons button {
        width: 100%;
        border-radius: 0;
        text-shadow: none;
        color: #fff;
        border: none;
        font-weight: bold;
        padding: 10px 0; }
      .product .button-box .buttons .green {
        background: #16a085;
        text-transform: uppercase; }
      .product .button-box .buttons .red {
        background: #e74c3c; }
  .product p {
    font-size: 14px;
    text-align: left; }
  .product .details {
    padding-left: 5px;
    padding-right: 5px; }
  .product .headline {
    text-transform: uppercase;
    font-size: 14px;
    color: #114975;
    display: block;
    text-align: center;
    padding: 5px 0; }
  .product .cost {
    font-size: 18px;
    color: #16a085;
    text-align: center;
    display: block;
    padding: 5px 0;
    font-weight: bold; }
  .product ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .product ul li {
      display: block;
      text-align: left;
      margin-bottom: 0;
      padding: 0;
      margin: 0;
      text-transform: uppercase;
      font-size: 13px;
      text-align: center;
      color: #114975;
      font-weight: 400; }
      .product ul li p {
        display: inline-block;
        font-size: 13px;
        margin-bottom: 0; }
        .product ul li p span {
          display: inline-block;
          text-align: left;
          color: #16a085;
          font-weight: bold; }

.bottom-baner {
  margin-top: 30px; }
  .bottom-baner .baner {
    background: url("../img/b_baner.jpg") no-repeat;
    background-position: center top;
    width: 100%;
    float: left;
    padding: 50px;
    text-align: center;
    color: #114975; }
    .bottom-baner .baner h1 {
      font-size: 24px; }

footer {
  padding: 50px 0;
  margin-top: 30px;
  background: #114975; }
  footer p {
    color: #fff;
    text-align: left;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 400; }
  footer .blue-btn {
    background: #063051;
    color: #fff; }
    footer .blue-btn:hover {
      background: #16a085;
      color: #fff; }
  footer ul {
    list-style: none;
    float: right;
    display: block;
    width: 100%; }
    footer ul li {
      display: inline-block;
      float: right;
      padding: 5px 10px; }
      footer ul li a {
        display: blcok;
        font-size: 22px;
        color: #fff;
        float: left; }
        footer ul li a:hover {
          color: #063051; }
  footer small {
    color: #fff;
    text-align: right;
    float: right; }

#pages h2 {
  font-size: 24px; }
#pages .headline {
  color: #e74c3c;
  text-transform: uppercase; }

.page {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  padding: 25px; }

.kontakt-block .mail, .kontakt-block .tel, .kontakt-block .loc {
  margin: 10px 0; }
.kontakt-block img {
  position: relative;
  top: 0;
  left: 0;
  margin: 0 10px 0 0; }
.kontakt-block p {
  display: inline-block;
  font-size: 14px;
  line-height: 1.4; }
.kontakt-block .loc img {
  top: -25px; }
.kontakt-block .loc p {
  position: relative;
  top: -5px; }

form {
  padding-bottom: 50px; }
  form .form-control {
    background: #f5f5f5;
    border-radius: 0;
    border: none;
    box-shadow: none;
    padding: 25px 45px; }
    form .form-control:focus {
      outline: none;
      border: 1px solid #e74c3c;
      background: #f5f5f5; }
  form i {
    position: absolute;
    display: block; }
  form .iname {
    background: url(../img/imie-ico.png);
    top: 36px;
    left: 30px;
    width: 16px;
    height: 20px; }
  form .imail {
    background: url(../img/mail-ico.png);
    top: 39px;
    left: 30px;
    width: 20px;
    height: 14px; }
  form .imess {
    background: url(../img/text-ico.png);
    top: 22px;
    left: 30px;
    width: 20px;
    height: 20px; }
  form .btn {
    margin-top: 15px; }

.blog .item {
  position: relative;
  display: block;
  width: 100%;
  min-height: 210px;
  float: left;
  margin-bottom: 30px; }
  .blog .item img {
    width: 100%;
    height: auto; }
  .blog .item .apla {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 58px;
    background: rgba(17, 73, 117, 0.8);
    padding: 10px;
    overflow: hidden; }
    .blog .item .apla h3 {
      color: #fff;
      font-size: 16px;
      display: inline-block;
      margin: 0;
      padding: 0;
      font-weight: bold; }
    .blog .item .apla span {
      color: #fff;
      display: block;
      text-transform: uppercase; }
    .blog .item .apla p {
      color: #fff;
      font-weight: 400;
      line-height: 1.4;
      margin-top: 20px;
      font-size: 14px; }
    .blog .item .apla .permalink {
      color: #fff;
      text-align: right;
      margin-top: 20px;
      font-weight: 400;
      width: 100%;
      height: auto;
      display: block;
      padding-left: 10px; }
      .blog .item .apla .permalink:hover {
        text-decoration: underline; }
  .blog .item:hover .apla {
    height: 100%; }

.info p {
  display: inline-block;
  font-size: 12px;
  margin: 0 5px;
  color: #888888; }
.info i {
  font-size: 12px;
  color: #888888; }

.sharring {
  color: #7a7979;
  font-size: 12px;
  padding: 0 0; }
  .sharring button {
    display: inline-block;
    background: transparent;
    border: none;
    float: left; }
    .sharring button span {
      padding: 0 5px; }
    .sharring button:hover span {
      color: #e74c3c; }
  .sharring .share {
    float: left;
    margin-top: 3px; }
    .sharring .share li {
      display: inline-block;
      line-height: none;
      margin: 0 5px; }
      .sharring .share li a {
        color: #7a7979; }
      .sharring .share li:last-child {
        margin-right: 0; }
      .sharring .share li:hover a {
        color: #e74c3c; }

.post-content {
  line-height: 1.4; }
  .post-content .alignleft {
    float: left;
    margin: 10px 20px 10px 0px; }
  .post-content .right {
    float: right;
    margin: 10px 0px 10px 20px; }
  .post-content blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid #7dc316;
    font-style: italic;
    width: 90%;
    margin-left: 10%;
    font-size: 20px; }
