html,body{
	background:transparent;
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
} 

$brand_grey:  #7a7979;
$light_grey: #f5f5f5;
$brand_blue: #114975;
$brand_blue2: #1b5e92;
$white: #fff; 
$red: #e74c3c;

img{
	max-width:100%;
	height:auto;
} 

* { 
	outline: none;
	box-sizing:border-box;
 }
  
a:link{
	text-decoration:none;
}

*:focus{
	background:transparent!important;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Lato', sans-serif;
}

h1 { 
    font-size: 32px;
}  
h2{
    font-size: 24px;
}
h3{
    font-size: 16px;
}
h4{
    font-size: 14px;
}
h5{
    font-size: 12px;
}
h6{
    font-size: 12px;
}
p{
	font-family: 'Lato', sans-serif;
	font-size: 17px;  
	font-weight: 300;
	line-height: 1.7;

} 

a, button, button span, .apla, .sidebar-category-tags li {
   transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}

ul, ol{
    padding: 0;
    margin:0;
    li{
        list-style-position: inside;
    }
}
.btn-blue{
    background: $brand_blue;
    text-transform: uppercase; 
    color: #fff;
    border-radius: 0;
    border: none;
    padding: 10px 25px;
    border:1px solid transparent;
    &:hover{
        border:1px solid $brand_blue;
        background: transparent;
        color: $brand_blue;
    }
}

.top{
    width: 100%;
    display: block;
    padding:30px 0; 
    .brand{  
        img{
            max-width: 100%;
            height: auto;
        }
    }
    nav{
        padding: 5px 0;
        ul{ 
            li{
                display: inline-block;
                list-style: none;
                margin:0 13px;
                > a{
                    color: $brand_grey;
                    font-size: 14px;
                }
                &:last-child{
                    margin: 0 0;
                }
            }
        }
    }
}

.navbar{
    background: $brand_blue;
    border-radius:0;
    -webkit-box-shadow: inset 2px 11px 5px -4px rgba(24,63,93,1);
    -moz-box-shadow: inset 2px 11px 5px -4px rgba(24,63,93,1);
    box-shadow: inset 2px 11px 5px -4px rgba(24,63,93,1);
    .navbar-collapse{
        padding-left: 0;
        padding-right: 0;
    }
    .nav{
        width: 100%;
        > li{
            width: 20%;
            text-align: center;
            border-right: 1px solid #a0b6c8;
            border-top:2px solid #063051;
            > a{
                text-transform: uppercase;
                text-shadow: none;
                color: $white;
                font-size:14px;
                &:hover{
                    background: $brand_blue2;
                    color:$white;
                }
            }
            &:last-child{
                border-right:0;
            }  
        }
        .active{
           a {
                background: $brand_blue2;
                color:$white;
                &:hover{
                   background: $brand_blue2;
                   color:$white; 
                }
                &:focus{
					color: $white;
                   background: $brand_blue2!important;
				} 
            } 
        }
        .dropdown-menu{
            background: $brand_blue2;
            border-top:0;
            border-radius: 0; 
        }
    }
}

    .nav > li.dropdown.open {
        position: static;
        background: $brand_blue2;
        color:$white;
        a{
            color: $white!important;
            text-transform: uppercase;
            white-space: initial;
        }
    }
    .nav > li.dropdown.open .dropdown-menu {
        display:table;
        width: 100%;
        text-align: center;
        left:0;
        right:0;
    }
    .dropdown-menu>li {
        display: table-cell;
        padding: 10px 0;
        a{
            &:hover{
                background: transparent;
            }
            &:focus{
                background-color:transparent;
            }
        }
        i{
            display: inline-block;
            width:100%; 
            height: 45px;
            margin:0 auto;
            background-position: 50%!important; 
        }
        &:first-child{
            i{
               background: url("../img/menu-ico/i1.png")no-repeat; 
            }
        }
         &:nth-child(2){
            i{
                background: url("../img/menu-ico/i2.png")no-repeat; 
            }
         }
        &:nth-child(3){
            i{
                background: url("../img/menu-ico/i3.png")no-repeat; 
            }
         }
         &:nth-child(4){
            i{
               background: url("../img/menu-ico/i4.png")no-repeat; 
            }
         }
        &:nth-child(5){
            i{
                background: url("../img/menu-ico/i5.png")no-repeat; 
            }
         }
        &:nth-child(5){
            i{
                background: url("../img/menu-ico/i5.png")no-repeat; 
            }
         }
         &:nth-child(6){
            i{
                background: url("../img/menu-ico/i6.png")no-repeat; 
            }
         }
         &:nth-child(7){
            i{
                background: url("../img/menu-ico/i7.png")no-repeat; 
            }
         }
    }


    .filtr{
        padding: 25px;
        background: $brand_blue;
        .cost{
            width: 100%;
            max-width: 310px;
           display: inline-block;
           float: left;
           padding: 0 15px;
        }
        .day{
             width: 100%;
            max-width: 310px;
            display: inline-block;
            float: left;
            padding: 0 15px;
        }
        .for-free{
              width: 100%;
            max-width: 160px;
             padding: 0 15px;
            display: inline-block;
            float:left;
        }
        p{
            color:$white;
            font-weight: 400;
            font-size: 14px;
            padding:10px 0;
            margin:0; 
            span{
                display: inline-block; 
                float: right;
                text-align: right;
                padding-right: 10px;
                max-width: 50%; 
                > input{
                    background:transparent;
                    max-width: 40%;
                    border-top:0;
                    border-left:0;
                    border-right:0;
                    border-bottom:1px solid $white;
                    margin-right:5px;
                    position: relative;
                    top:-6px;
                    text-align: center;
                }
            }
        }

.slider-slide{
    padding: 25px 0;
}
        #slider,#slider2{
            background: url("../img/slider-bg.png");
            background-position: center left;
            > div{
                background: $white;
            } 
            span{
                border:none;
                background: #16a085!important;
                width: 38px;
                cursor:pointer;   
                &:before{
                    content:"";
                    width: 1px;
                    height:8px;
                    position: absolute;
                    left:48%;
                    top:5px;
                    background: $white;
                }
                &:after{
                    content:"";
                    width: 1px;
                    height:8px;
                    position: absolute;
                    right:42%;
                    top:5px;
                    background: $white;
                }
                &:focus{
                    background: #16a085;
                }
            }
        }
    }

    aside{  
        h3{
            color:$brand_blue;
            text-transform: uppercase;
            text-align: center;
            margin-top:0;
        }
        .item{
            background: $light_grey;
            text-align: center; 
            float: left;
            padding: 30px 0;
            margin: 5px 0;
            width: 100%;
            .thumb-box{ 
                width: 100%;
                height:54px;
                display: table; 
                .thumb{
                    display: table-cell;
                    vertical-align: middle; 
                }
            }
           
            h4{
                font-size: 14px;
                color:$red;
                margin:0 0;
                padding: 0 0; 
                text-transform: uppercase;
            }
            p,span{
                color:$brand_grey;
                text-align: center;
                margin:0;
                padding: 0;
                font-size: 14px;
            }
           
        }

       .box-search{
           background: #f5f5f5;
           padding: 38px;
           margin-top: 9px;
        }
        .sidebar-category-tags{
            width: 100%;
            height: auto;
            li{
                list-style: none;
                display: inline-block;
                margin: 3px 3px;
                background: #f2f3f4;
                color: $brand_blue;
                padding: 5px 10px;
                &:hover{
                    background: #16a085; 
                    a{
                       color: #fff; 
                    }
                }
            } 
        }
    }
    .sidebar-blog{
        h3{
            text-align: left;
        }
    }
.checkbox {
    margin-top:20px;
}
.checkbox label:after {
    content: '';
    display: table;
    clear: both;
   
}
.checkbox label{
    color:#16a085;
    padding-left: 0;
    p{
        display: inline-block;
        float: left;
        font-size: 12px;
        padding: 0;
    }
}

.checkbox .cr{
    position: relative;
    display: inline-block;
    background: #fff;
    border: none;
    border-radius:0;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

 

.checkbox .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

.product{
    padding: 25px 10px;
    background: $light_grey;
    margin-top:25px;
    float: left;
    position: relative;
    .thumb-box{
        display: table;
        height: 150px;
        width: 100%; 
        .thumb{
            display: table-cell;
            vertical-align: middle; 
            width: 100%; 
            text-align: center;
            img{
                text-align: center;
            }
        }
    }
    .button-box{
        display: table;
        height: 150px;
        width: 100%; 
        .buttons{
            display: table-cell;
            vertical-align: middle;
            button{
                width:100%;
                border-radius: 0;
                text-shadow: none;
                color: $white;
                border:none;
                font-weight: bold;
                padding: 10px 0;
            }
            .green{
                background: #16a085;
                text-transform: uppercase;
            }
            .red{
                background: #e74c3c;
            }
        }
    }
    p{
        font-size:14px;
        text-align: left; 
    }
    .details{
        padding-left: 5px;
        padding-right: 5px;
    }

    .headline{
        text-transform: uppercase;
        font-size: 14px;
        color: $brand_blue;
        display: block;
        text-align: center;
         padding: 5px 0;
    }
    .cost{
        font-size: 18px;
        color: #16a085;
        text-align: center;
        display: block;
        padding: 5px 0;
        font-weight: bold;
    }
    ul{
        list-style: none;
        margin:0;
        padding: 0;
        li{
            display:block;
            text-align: left;
            margin-bottom:0;
            padding: 0;
            margin:0;
            text-transform: uppercase;
            font-size:13px;
            text-align: center;
            color: $brand_blue;
            font-weight: 400; 
            p{
                display: inline-block; 
                font-size:13px;
                margin-bottom: 0; 
                span{
                    display: inline-block;
                    text-align: left; 
                    color: #16a085;
                     font-weight: bold;
                }
            }  
        }
    } 
}

.bottom-baner{
    margin-top:30px;
    
   .baner{
        background: url("../img/b_baner.jpg")no-repeat;
        background-position: center top;
        width: 100%;
        float: left;
        padding: 50px;
        text-align: center;
        color:$brand_blue;
        h1{
            font-size: 24px;
        } 
   }
}

footer{
    padding: 50px 0;
    margin-top:30px;
    background: $brand_blue;

    p{
        color: $white;
        text-align:left;
        font-size: 14px;
        line-height: 1.4;
        font-weight: 400;
    } 
    .blue-btn{
        background: #063051; 
        color: $white;
        &:hover{
            background: #16a085;
            color: $white;
        }  
    }
    ul{
        list-style: none; 
        float: right;
        display: block; 
        width:100%;
        li{
            display:inline-block;
             float: right;
             padding: 5px 10px;
            a{
                display: blcok;
                font-size:22px;
                color: $white;
                float: left;
                &:hover{
                   color:#063051; 
                }
            }
        }
    }
    small{
        color: $white;
        text-align: right;
        float:right;
    }
     
}

#pages{
    h2{
        font-size: 24px;
    }
    .headline{
        color:$red;
        text-transform: uppercase;
    }
}
.page{
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    padding: 25px;
}
.kontakt-block { 
    .mail,.tel,.loc{
        margin:10px 0;
    } 
    img{
        position: relative;
        top:0;
        left:0;
        margin: 0 10px 0 0;
    }
    p{
        display: inline-block; 
        font-size: 14px;
        line-height: 1.4;
    }
    .loc{
        img{
            top:-25px;
        }
        p{  
            position: relative;
            top:-5px;
        }
    } 
}

form{
    padding-bottom: 50px;
    .form-control{
        background: $light_grey;
        border-radius:0;
        border:none;
        box-shadow: none;
        padding: 25px 45px; 
        &:focus{
            outline: none;
            border:1px solid $red;
            background: $light_grey; 
        } 
    }
    i{
        position: absolute; 
        display: block;
    }
    .iname{
        background: url(../img/imie-ico.png);
        top: 36px;
        left: 30px;
        width: 16px;
        height: 20px; 
    }
    .imail{
        background: url(../img/mail-ico.png);
        top: 39px;
        left: 30px;
        width: 20px;
        height: 14px;  
    }
    .imess{
        background: url(../img/text-ico.png);
        top: 22px;
        left: 30px;
        width: 20px;
        height: 20px;  
    }
    .btn{
        margin-top: 15px;
    }
}

.blog{
    .item{ 
        position: relative;
        display: block;
        width: 100%;
        min-height: 210px;
        float: left;
        margin-bottom: 30px;
        img{
            width: 100%;
            height: auto;
        }
        .apla{
            position: absolute;
            bottom:0;
            left: 0;
            width: 100%;
            height: 58px;
            background: rgba(17, 73, 117, .8);
            padding: 10px;
            overflow: hidden;
            h3{
                color: #fff;
                font-size: 16px;
                display: inline-block;
                margin: 0;
                padding: 0;
                font-weight: bold;
            }
            span{
                color: #fff;
                display: block;
                text-transform: uppercase;
            }
            p{
                color: #fff;
                font-weight: 400;
                line-height: 1.4;
                margin-top: 20px;
                font-size: 14px;
            }
            .permalink{
                color: #fff;
                text-align: right;
                margin-top: 20px;
                font-weight:400;
                width: 100%;
                height: auto;
                display: block;
                padding-left: 10px;
                &:hover{
                    text-decoration: underline;
                } 
            } 
        }
        &:hover{
            .apla{
                height: 100%;
            }
        }
    }
}

.info{ 
    p{
        display: inline-block;
        font-size: 12px;
        margin: 0 5px;
        color: #888888;
    }
    i{
        font-size: 12px;
        color: #888888;  
    }
}

.sharring{
    color: $brand_grey;
    font-size: 12px;
    padding: 0 0;
    button{
        display: inline-block;
        background: transparent;
        border:none;
        float: left;
        span{
            padding: 0 5px;
        }
        &:hover{
            span{
                color: $red;
            }
        }
    }
    .share{
        float: left;
        margin-top: 3px;
        li{
            display: inline-block;
            line-height: none;
            margin: 0 5px;
            a{
                color: $brand_grey;
            }
            &:last-child{
                margin-right: 0;
            }
            &:hover{
                a{
                    color: $red;
                }
            }
        }
    }
}

.post-content{
    line-height: 1.4;
    .alignleft {
        float: left;
        margin: 10px 20px 10px 0px;
    }
    .right {
        float: right;
        margin: 10px 0px 10px 20px;
    }
    blockquote {
        padding: 10px 20px;
        margin: 0 0 20px;
        font-size: 17.5px;
        border-left: 5px solid #7dc316;
        font-style: italic;
        width: 90%;
        margin-left: 10%;
        font-size: 20px;
    }
}






















